#app {
    font-size: 16px;
    //height: 100vh;
    //overflow: hidden;
    //background: #261c33;
    //margin: 0;
    .content {
        min-height: calc(100vh - 160px);
        background-color: #FFF;
        //background-color: #F99;
        //background: linear-gradient(to bottom right, #F66, #FFF);
        overflow: hidden;
        font-size: 60px;
        text-shadow:#FF0000 0 0 10px;
        color:white;
        font-style: italic;
        display: flex;
        align-items: center;
        justify-content: center
    }
    

    
}
