@font-face {
    font-family: 'iconfont';  /* project id 1254386 */
    src: url('//at.alicdn.com/t/font_1254386_wd0cc7zz35.eot');
    src: url('//at.alicdn.com/t/font_1254386_wd0cc7zz35.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1254386_wd0cc7zz35.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1254386_wd0cc7zz35.woff') format('woff'),
    url('//at.alicdn.com/t/font_1254386_wd0cc7zz35.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1254386_wd0cc7zz35.svg#iconfont') format('svg');
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;color: #999;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;}
