@import "var.scss";

*{
  box-sizing: border-box;

}
ul{
  margin: 0;
}

body{
  font-family: "Microsoft YaHei",SimHei,"STHeiti Light",SimSun;
}
.el-button{
  border-radius: 2px!important;
}
.el-input__inner{
  border-radius: 2px!important;
}
.primary-btn{
  color: $--color-primary;
  border-color: $--color-primary;
}
.el-button--primary:hover, .el-button--primary:focus,.primary-btn:hover,.primary-btn:focus {
  background: $--color-primary-light;
  border-color: $--color-primary-light;
  color: #fff;
}
.load-more:hover{
  background: $--color-primary!important;
  color: #fff!important;
}
.load-more:focus {
  color: #606266!important;
  border-color: #dcdfe6!important;
  background-color: #fff!important;
}
a:hover {
  cursor: pointer;
  color: inherit;
  outline: none;
  text-decoration: none;
}

div:focus{
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}
input:-webkit-autofill {
  background-color: #FAFFBD;
  background-image: none;
  color: #000;
}
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset;
}


::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: $--color-primary;
}

.ellipsis{
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}
.container{
  width: 1200px;
  margin: 0 auto;
}
.container-fluid{
  width: 100%;
}
.fl{
  float: left;
}
.fr{
  float: right;
}
.main-body{
  min-height: calc(100vh - 160px);
}
