/* 改变主题色变量 */

$--border-radius-base: 2px;
$--color-primary: deepskyblue;
$--color-primary-light:deepskyblue;
$--color-default: #fff;   
$--color-attention:#FF8F2B; /* 颜色主题表示注意或标语 */
$--color-doing:#31B68F;   /* 颜色主题进行中 */
$--color-ending:#969FA9;  /* 颜色主题已过期、已结束 */

$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";

