
#app {
    height: 100%;
    margin: 0;
    font-size: 16px;
    .headerNav{
        position: fixed;
        left: 0;
        top: 0;
        background: transparent;
        z-index: 200;
        .head{
            background-color: transparent;
            box-shadow: none;
            color: #fff;
        }
    }
    .content{
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        position: relative;
        background-image:url("./img/5.jpg");
        background-size: 100%  100%  ;
        .moon{
            position: absolute;
            right: 70px;
            top: 40px;
            z-index: 200;
            img{
                width: 100px;
                height: 100px;
                z-index: 200;
                border-radius: 50%;
                box-shadow: 1px 1px 20px #fff;
            }
        }
        .focus{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            font-size: 50px;
            color: #FFF;
            h3{
                margin-bottom: 30px;
                font-weight: normal;
                font-family:'VisbyRoundCF-Bold';
            }
            input{
                margin-top: 10px;
                background: transparent;
                border: none;
                border-bottom: 4px solid #FFF;
                text-align: center;
                color: #fff;
                outline: none;
                font-family:'VisbyRoundCF-Bold';
            }
        }
        .todoBox{
            display: flex;
            flex-direction: column;
            position: absolute;
            bottom: 40px;
            right: 70px;
            h3{
                font-family:'ACMEExplosive';
                font-size: 28px;
                letter-spacing: 5px;
                margin:  16px 0;
                color: #fff;
            }
            .checkGroup{
                max-height: 500px;
                overflow: auto;
                display: flex;
                flex-direction: column;
            }
            .el-checkbox{
                margin-left: 0;
                color: #fff;
                margin-bottom: 8px;
                span{
                    font-size: 16px;
                    font-family:'VisbyRoundCF-Bold';
                }
            }
            .el-checkbox__inner{
                background-color: transparent;
                border: 1px solid #FFF;
            }
        }
        
    }
}
