#app {
    height: 100%;
    margin: 0;
    font-size: 16px;
    .content{
        min-height: calc(100vh - 160px);
        display: flex;
        align-items: center;
        justify-content: center;
        background: #000;
        overflow: hidden;
    }
}
